.myBody {
    background-color: rgba(206, 129, 129, 0.733);
    margin: 0px;
}
.navbar {
  background-color: #00000079;
  display: flex;
  gap: 36px;
  flex-direction: space-between;
  height: 64px;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  filter: drop-shadow(20px 20px 20px rgb(127, 80, 180));
  font-family: Arial, sans-serif;
}

.navtext {
    text-decoration: none;
    color: white;
    text-align: center;
}

button {
    background-color: rgb(149, 49, 106);
    border: none;
    color: white;
    padding: 3px 10px;
    border-radius: 8px;
    cursor: pointer;
}

input {
    border-radius: 8px;
    border: 1px solid rgb(31, 34, 36);
    padding: 3px 10px;
}
::placeholder {
    color: rgb(31, 34, 36);
}
 ul {
    padding: 0;
    list-style-type: none;
 }

 body {
  font-family: "Momo Signature", cursive;
 }

 

