.myBody {
  background-color: rgba(206, 129, 129, 0.733);
  margin: 0px;
}
.navbar {
  background-color: #00000079;
  display: flex;
  gap: 36px;
  flex-direction: space-between;
  height: 64px;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  filter: drop-shadow(20px 20px 20px rgb(127, 80, 180));
}

.navtext {
  text-decoration: none;
  color: white;
  text-align: center;
}



.about_us {
  display: flex;
  flex-direction: column;
  padding: 80px;
}

.img_anna {
  width: 280px;
  height: 400px;
}

.img_fabs {
  width: 280px;
  height: 400px;
}

.section-fabs-anna {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.text_fabs {
  display: flex;
  justify-content: center;
  margin-left: 100px;
  font-size: 30px;
}
